body {
    display: flex;
    background-color: #c78ec7;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    background-color: #bbe6ff;
    width: 310px;
    height: 610px;
    justify-content: center;
    align-items: center;
}
#Myform{
    background-color: #ee90b1;
    width: 300px;
    height: 600px;
    margin:5px
}
